# Python (MCP Tool)
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pyc.*

venv/
.env/
.env

# SQL Server / Logs
*.bak
*.log

# Excel temp files
~$*.xlsx

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
